{% extends '_base.html' %}
{% load helpers %}
{% load i18n %}

{% block title %}{% trans 'Sales' %}{% endblock %}

{% block content %}
<div class="pull-right">
    {% include 'inc/export_button.html' with obj_type='sales' %}
</div>
<h1>{% trans 'Sales pending invoices' %}</h1>
<div class="row">
    <div class="col-md-9">
        {% include 'utilities/obj_table.html' %}
    </div>
    <div class="col-md-3">
        {% include 'inc/search_panel.html' %}
        {% include 'inc/filter_panel.html' %}
    </div>
</div>
{% endblock %}
