{% extends '_base.html' %}
{% load helpers %}
{% load i18n %}
{% load utils_payinv %}

{% block title %}{{ sale }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <ol class="breadcrumb">
            <li><a href="{% url 'sale_list' %}">{% trans 'Sale' %}</a></li>
            <li>{{ sale }}</li>
        </ol>
    </div>
    <div class="col-md-3">
        <form action="{% url 'sale_list' %}" method="get">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="{% trans 'Name' %}" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="pull-right">
        <a href="{% url 'sale_edit' pk=sale.pk %}" class="btn btn-sm btn-warning">
            <span class="fa fa-pencil" aria-hidden="true"></span>
            {% trans 'Edit this sale' %}
        </a>
        <a href="{% url 'payment_to_sale' sale_id=sale.pk %}" class="btn btn-sm btn-success">
            <span class="fa fa-money" aria-hidden="true"></span>
            {% trans 'New payment' %}
        </a>

        <a href="{% url 'invoice_to_sale' sale_id=sale.pk %}" class="btn btn-sm btn-info">
            <span class="fa fa-ticket" aria-hidden="true"></span>
            {% trans 'New invoice' %}
        </a>
</div>

<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ sale }}
            </div>
            {% include 'sales/_table_detail.html' with sale=sale %}
        </div>
        {% with sale.custom_fields as custom_fields %}
            {% include 'inc/custom_fields_panel.html' %}
        {% endwith %}
        {% include 'inc/created_updated.html' with obj=sale %}
    </div>
</div>
{% endblock %}
