{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

{% block content %}
<link rel="stylesheet" href="{% static "css/loader.css" %}">

<div class="text-center">
    <div class="page-header">
        <h1 class="title">Estamos convirtiendo y traduciendo tu audio <small> ... </small></h1>
    </div>
    <div class="row">
        <div class="col-xs-offset-3  col-md-6">
          <p class="text-description">Esto podria tomar algunos instantes, puedes volver a consultar el resultado usando el siguiente enlace</p>
          <div class="alert alert-dismissible alert-info alert-error">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <span class="text-error"> </span>
          </div>
          <div class="form-wrap">
              <div class="input-group">
                {% if request.GET.id is None %}
                <input type="input" id="url_process" class="form-control" value="{{ request.build_absolute_uri }}?id={{ file.uuid }}">
                {% else %}
                <input type="input" id="url_process" class="form-control" value="{{ request.build_absolute_uri }}">
                {% endif %}
                <span class="input-group-btn">
                    <button class="btn btn-default"  id="btn-copy" data-clipboard-target="#url_process" type="button">{% trans 'Copy' %}</button>
                </span>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-offset-3  col-md-6">
            <div class="loader" id="loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        <div>
    </div>
</div>

<div class="container speechtext">
    <div class="row">
        <div class="col-xs-offset-1  col-md-4" id="source-div">
            <h3>Traducción origen</h3>
            <blockquote>
                <div id="source" class="text-justify text">
                </div>
            </blockquote>
        </div>
        <div class="col-xs-offset-1  col-md-4" id="dst-div">
            <h3>Traducción Destino</h3>
            <blockquote>
                <div id="dst" class="text-justify text">
                </div>
            </blockquote>
        </div>
    </div>
    <div class="alert alert-dismissible alert-info alert-notes col-xs-offset-4 col-md-4">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <span class="notes"> </span>
    </div>
</div>

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "clipboard/dist/clipboard.min.js" %}"></script>

  <script>
    var id_process = '{{ file.uuid }}';
    var url_data = "{% url 'apiProcessFile-detail' uuid=file.uuid %}";
    poolingRequests = function(){
        var ready = false;
        var anonymous = {{ request.user.is_anonymous|yesno:"true,false" }};
        var free_account = {{ request.user.account.free_account|yesno:"true,false" }};
        var original_duration  = {{ file.original_duration }};
        var LIMIT_FREE_SECONDS  = {{ constants.LIMIT_FREE_SECONDS }};
        var limit_error = "Limit exceeded";
        getData();
        window.setInterval(function() {
            if (ready == true) {return true;}
            getData();
        }, 10000);

        function getData() {
            $.get( url_data, function(data) {
                if (data.status == 'SUCCESS') {
                    ready = true;
                    $(".loader").hide();
                    $(".speechtext").show();
                    $('.title').html("Tenemos tus resultados");
                    if (data.channels == 1) {
                        $("#dst-div").hide();
                        $("#source-div h3").html("Traducción");
                        $("#source-div").addClass('col-xs-offset-4');
                        $("#source-div").removeClass('col-xs-offset-1');
                    }
                    $('#source').html(data.text_source);
                    $('#dst').html(data.text_destination);

                    if (data.duration == LIMIT_FREE_SECONDS && ( anonymous || free_account )) {
                        text_note = 'Las traducciones usadas por cuentas de prueba estan limitadas a '+ data.duration +' segundos por archivo. Si necesitas mas tiempo para traducir comunicate con nosotros a  <a href="mailto:contact@boxtub.com">contact@boxtub.com</a> o en <a href="https://about.speechtext.cl/#contact">nuestro formulario de contacto</a>';
                        $('.notes').html(text_note);
                        $('.alert-notes').show();
                    }

                } else if (data.status == 'ERROR') {
                    ready = true;
                    $(".loader").hide();
                    $(".form-wrap").hide();
                    $(".text-description").hide();
                    $('.title').html("Existe un problema al procesar tu archivo");
                    $('.alert-error').show();

                    var text_error = null;
                    if (data.error != limit_error) {
                        text_error = 'Existe en el formato del archivo. Puede que esté corrupto o algun problema similar. <a href="{% url 'index' %}"> Puedes volver a intentarlo</a>'
                    } else {
                        text_error = 'No tienes mas saldo de prueba para el servicio.  Comunicate con nosotros a <a href="mailto:contact@boxtub.com">contact@boxtub.com</a> o en <a href="https://about.speechtext.cl/#contact">nuestro formulario de contacto</a>';
                        if (anonymous) {
                            text_error = 'El limite de prueba fue terminado, <a href="{% url 'registration_register' %}"> intenta crear una cuenta y vuelve a intentar</a>.  Comunicate con nosotros a  <a href="mailto:contact@boxtub.com">contact@boxtub.com</a> o en <a href="https://about.speechtext.cl/#contact">nuestro formulario de contacto</a>';
                        }
                    }
                    $('.text-error').html(text_error);
                }
            })
            .fail(function(res) {
              console.log('pooling failed', res);
            });
        };
    }
    poolingRequests();
    new ClipboardJS('.btn');
  </script>
{% endblock %}
