{% extends '_base.html' %}
{% load helpers %}
{% load i18n %}

{% block title %}{% trans 'Payments' %}{% endblock %}

{% block content %}
<div class="pull-right">
    <a href="{% url 'payment_add' %}" class="btn btn-primary">
        <span class="fa fa-plus" aria-hidden="true"></span>
        {% trans 'Add a payment' %}
    </a>
    {% include 'inc/export_button.html' with obj_type='payments' %}
</div>
<h1>{% trans 'Payments' %}</h1>
<div class="row">
    <div class="col-md-9">
        {% include 'utilities/obj_table.html' %}
    </div>
    <div class="col-md-3">
        {% include 'inc/search_panel.html' %}
        {% include 'inc/filter_panel.html' %}
    </div>
</div>
{% endblock %}
