/* Layout */
* {
    margin: 0;
}

.navbar-brand {
    padding: 12px 15px 8px;
}

.footer, .push {
    height: 60px; 
}

.footer {
    /*! background-color: #f5f5f5; */
    border-top: 1px solid #d0d0d0;
}
footer p {
    margin: 20px 0;
}

.image_front {
   display: block;
   margin: 0 auto;
}

.navbar-brand img {
    width: 120px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 10px;
    line-height: 1.42857143;
    vertical-align: top;
}

table:not(.table-bordered) > thead > tr > th, .table:not(.table-bordered) > thead > tr > th, table:not(.table-bordered) > tbody > tr > th, .table:not(.table-bordered) > tbody > tr > th, table:not(.table-bordered) > tfoot > tr > th, .table:not(.table-bordered) > tfoot > tr > th, table:not(.table-bordered) > thead > tr > td, .table:not(.table-bordered) > thead > tr > td, table:not(.table-bordered) > tbody > tr > td, .table:not(.table-bordered) > tbody > tr > td, table:not(.table-bordered) > tfoot > tr > td, .table:not(.table-bordered) > tfoot > tr > td {
    border-color: #ddd !important;
}

.alert-success {
  color: #7d7d7d;
  background-color: #fcfcfc;
  border-color: #fbfbfb;
}

.alert-success hr {
  border-top-color: #eeeeee;
}

.alert-success .alert-link {
  color: #646363;
}

.alert-light {
  color: gray;
  background-color: #fdfdfd;
  border-color: #fcfcfc;
}

.alert-light hr {
  border-top-color: #efefef;
}

.alert-light .alert-link {
  color: #676666;
}

.alert-success {
  background-color: #f0f0f0;
  border-color: #e3e3e3;
}

.alert-light {
  background-color: #f6f6f6;
  border-color: #e9e9e9;
}

.alert-success,
.alert-success a,
.alert-success .alert-link, .alert-light,
.alert-light a,
.alert-light .alert-link {
  color: #222;
}


.info {
    font-size: 0.8em;
    line-height: 1em;
    margin: 1em 0 0 0;
}

.info li {
    border-left: dotted 1px !important;
    display: inline-block;
    margin-left: 1em !important;
    padding-left: 1em !important;
}

.footer .info li:first-child {
    padding: 0;
    margin: 0;
    border: 0;
}

.footer .info t li a, .footer .info  li span {
    color: inherit;
}

.footer .info  li a:hover, .footer .info li span:hover {
    /*! color: #d5b2b2; */
}

.alert-notes {
    display: none;
}
