{% extends '_base.html' %}
{% load helpers %}
{% load i18n %}
{% load utils_payinv %}

{% block title %}{{ customer }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <ol class="breadcrumb">
            <li><a href="{% url 'customer_list' %}">{% trans 'Customer' %}</a></li>
            <li>{{ customer }}</li>
        </ol>
    </div>
    <div class="col-md-3">
        <form action="{% url 'customer_list' %}" method="get">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="{% trans 'Name' %}" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="pull-right">
        <a href="{% url 'customer_edit' pk=customer.pk %}" class="btn btn-warning">
            <span class="fa fa-pencil" aria-hidden="true"></span>
            {% trans 'Edit this customer' %}
        </a>
</div>

<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ customer }}
            </div>
            <table class="table table-hover panel-body">
                <tr>
                    <td>{% trans 'Name' %}</td>
                    <td>{{ customer.name }}</td>
                </tr>
                <tr>
                    <td>{% trans 'CID' %}</td>
                    <td>{{ customer.cid }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Address' %}</td>
                    <td>{{ customer.address }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Total sales' %}</td>
                    <td>
                        <a href="{% url 'sale_list' %}?customer={{ customer.id }}">
                            {{ customer.total_sales }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>{% trans 'Total invoice' %}</td>
                    <td>{{ customer.total_invoices }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Total payments' %}</td>
                    <td>{{ customer.total_payments }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Active' %}</td>
                    <td>{{ customer.active|yes_or_no }}</td>
                </tr>
            </table>
        </div>
        {% with customer.custom_fields as custom_fields %}
            {% include 'inc/custom_fields_panel.html' %}
        {% endwith %}
        {% include 'inc/created_updated.html' with obj=customer %}
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans 'Sales Pendings' %}
            </div>
            <table class="table table-hover panel-body">
                <div class="col-md-6 text-center">
                    <h2><a href="{% url 'sale_list_pending_payment' %}?customer={{ customer.id }}" class="btn {% if customer.count_sales_payments_pending %}btn-primary{% else %}btn-default{% endif %} btn-lg">{{ customer.count_sales_payments_pending }}</a></h2>
                    <p>{% trans 'Payments' %}</p>
                </div>

                <div class="col-md-6 text-center">
                    <h2><a href="{% url 'sale_list_pending_invoice' %}?customer={{ customer.id }}" class="btn {% if customer.count_sales_invoices_pending %}btn-primary{% else %}btn-default{% endif %} btn-lg">{{ customer.count_sales_invoices_pending }}</a></h2>
                    <p>{% trans 'Invoices' %}</p>
                </div>
        </div>
    </div>

</div>
{% endblock %}
